<?xml version="1.0" encoding="utf-8"?>
<!--routename：路由名称唯一变量，routeUrl： -->
<Urls>
  <path routename="ndui" routeUrl="web/{app}/{title}" physicalFile="~/ndui/master/mypage.html"  RouteValueDictionary="" />
  <path routename="index" routeUrl="" physicalFile="~/app/main.html"  RouteValueDictionary="" />
</Urls>
