<?xml version="1.0"?>
<ConfigObject xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Version>1.0.0.1001</Version>
  <CacheToDb></CacheToDb>
  <FilePath>temp|Upload</FilePath>
  <Domain></Domain>
  <WebTask>1</WebTask>
  <AppKey>1DAD84AF-687D-77E9-E4BE-C5C97044004B</AppKey>
  <SSO>0DAD84AF-687D-77E9-E4BE-C5C970440041</SSO>
  <SSOWeb></SSOWeb>
  <RouteFiles>app|ndui/control|api</RouteFiles>
  <WebSite>1</WebSite>
  <RoutePage>nd|html|aspx|asp|jsp|php</RoutePage>
  <RepairUrl>1</RepairUrl>
  <WebCode>NDUI</WebCode>
  <WebName>NordNeige</WebName>
  <MustRoute>1</MustRoute>
  <Verification>0</Verification>
  <FilesUrl></FilesUrl>
  <ServiceUrl></ServiceUrl>
  <WebTel>000000000000</WebTel>
  <WebFax>0000-0000-000</WebFax>
  <LoginUrl>app/login#</LoginUrl>
  <WebEmail>nordneige@163.com</WebEmail>
  <WebCrod>沪ICP备000000号</WebCrod>
  <WebKeywords>ND;NordNeige</WebKeywords>
  <WebDescription>NordNeige</WebDescription>
  <WebCopyright>Copyright Right © 2010-2011 nd.tk Powered By Inc</WebCopyright>
  <WebFileType>GIF|JPG|PNG|BMP|RAR|DOC|XLS|TXT</WebFileType>
  <WebFileSize>104857600</WebFileSize>
  <WebLogStatus>1</WebLogStatus>
  <WebKillKeywords>and|exec|insert|select|delete|update|chr|mid|master|or|truncate|char|declare|join|cmd</WebKillKeywords>
  <ArticlePageNum>15</ArticlePageNum>
  <PicturePageNum>14</PicturePageNum>
  <DownPageNum>15</DownPageNum>
  <ContentPageNum>15</ContentPageNum>
  <FeedbackPageNum>15</FeedbackPageNum>
  <LinkPageNum>15</LinkPageNum>
  <CommentPageNum>10</CommentPageNum>
  <AdPageNum>15</AdPageNum>
  <LogPageNum>15</LogPageNum>
  <ManagePageNum>15</ManagePageNum>
  <ArticlePageNum_Client>10</ArticlePageNum_Client>
  <PicturePageNum_Client>20</PicturePageNum_Client>
  <DownPageNum_Client>20</DownPageNum_Client>
  <FeedbackPageNum_Client>20</FeedbackPageNum_Client>
  <CommentPageNum_Client>10</CommentPageNum_Client>
  <IsThumbnail>1</IsThumbnail>
  <ProWidth>196</ProWidth>
  <ProHight>196</ProHight>
  <IsWatermark>2</IsWatermark>
  <WatermarkStatus>9</WatermarkStatus>
  <ImgQuality>80</ImgQuality>
  <ImgWaterPath>watermark.png</ImgWaterPath>
  <ImgWaterTransparency>5</ImgWaterTransparency>
  <WaterText>www.jk.com</WaterText>
  <WaterFont>Arial</WaterFont>
  <FontSize>18</FontSize>
  <TemplateSkin>default</TemplateSkin>
</ConfigObject>